:root {
    --colorStandart: #13B3F2;
    --colorSecond: #F2C185;
    --colorThird: #D96B0B;
    --colorShadow: #169EF2;
    --fontTitles: "Bebas Neue", sans-serif;
    --fontBodyText: "Comfortaa", sans-serif;
}

/* ----- ESTILIZAÇÃO DA BARRA DE SCROLL ----- */

::-webkit-scrollbar {
    width: 12px;  /* Largura da barra de rolagem vertical */
    height: 12px; /* Altura da barra de rolagem horizontal */
}

/* Customiza o "polegar" da barra de rolagem, que é a parte que se move */
::-webkit-scrollbar-thumb {
    background-color: var(--colorSecond);  /* Cor do polegar */
    border-radius: 1rem;      /* Bordas arredondadas */
}

/* Customiza a faixa de rolagem, que é a área em que o polegar se move */
::-webkit-scrollbar-track {
    background: var(--colorBackGround); /* Cor da faixa */
}

/* Customiza a faixa de rolagem quando está ativa (quando está sendo rolada) */
::-webkit-scrollbar-track-piece { background: var(--colorStandart); }

/* Customiza os botões de incremento/decremento da barra de rolagem (não visível na maioria dos navegadores) */
::-webkit-scrollbar-button { 
    background-color: var(--colorSecond);
    border-radius: 1rem;
}

/* Customiza a barra de rolagem quando está em modo "hover" (quando o mouse está sobre ela) */
::-webkit-scrollbar-thumb:hover { background: var(--colorStandart); /* Cor do polegar em modo hover */ }

/* ----- ESTILIZAÇÃO DA BARRA DE SCROLL ----- */

/* ----- ESTILIZAÇÃO DE SUBMIT BUTTON COM DISABLED-ENABLED ----- */

/* Estilo para o botão desativado */
input[type="submit"].btnAtt.editable:disabled, 
input[type="submit"].editable.btnAtualizar:disabled {
    background-color: #d3d3d3; /* Cor de fundo para o estado desativado */
    color: #888; /* Cor do texto para o estado desativado */
    cursor: not-allowed; /* Cursor indicando que não está clicável */
    border: 1px solid #ccc; /* Bordas mais claras */
}

/* Estilo para o botão ativado */
input[type="submit"].btnAtt.editable:enabled,
input[type="submit"].editable.btnAtualizar:enabled {
    background-color: var(--colorSecond); /* Cor de fundo para o estado ativado */
    color: #000000; /* Cor do texto para o estado ativado */
    cursor: pointer; /* Cursor indicando que é clicável */
    transition: background-color 0.3s ease; /* Transição suave ao mudar de estado */
}

/* Estilo adicional ao passar o mouse sobre o botão ativado */
input[type="submit"].btnAtt.editable:enabled:hover,
input[type="submit"].btnAtualizar.editable:enabled:hover {
    background-color: var(--colorStandart); /* Cor de fundo ao passar o mouse */
    color: #ffffff; /* Cor do texto ao passar o mouse */
}
/* Estilo adicional click do mouse sobre o botão ativado */
input[type="submit"].btnAtt.editable:enabled:active,
input[type="submit"].editable.btnAtualizar:enabled:active {
    background-color: var(--colorShadow); /* Cor de fundo ao passar o mouse */
}

/* ----- ESTILIZAÇÃO DE SUBMIT BUTTON COM DISABLED-ENABLED ----- */

.alertDanger {
    position: absolute;
    width: 80%;
    padding: 1rem;
    margin-bottom: 0.6rem;
    text-align: center;
    color: var(--colorStandart);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    background: var(--colorThird);
    border-radius: 1rem;
}

.alertSuccess {
    position: absolute;
    width: 50%;
    padding: 0.4rem;
    text-align: center;
    color: var(--colorShadow);
    font-size: 1rem;
    text-transform: uppercase;
    background: var(--colorThird);
    border-radius: 2rem;
    font-weight: bold;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #f2c18596;
}
  
.modal-content {
    background-color: var(--colorStandart);
    margin: 5% auto;
    padding: 20px;
    box-shadow: 4px 4px 0px 4px var(--colorShadow);
    width: 50%;
    height: 70%;
    border-radius: 1rem;
}

.modal-content h2 {
    color: #ffffff;
    font-family: var(--fontTitles);
    font-size: 3rem;
    margin: 0;
}

.modal-content p {
    margin: 0 0 0.3rem 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
}

.modal-body {
    position: relative;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    background: var(--colorShadow);
    border-radius: 1rem;
}

.modal-galerie {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: space-evenly;
}

.modal-galerie img {
    margin: 0 10px 0 10px;
    width: 30%;
    height: 100%;
    border-radius: 2rem;
}

.reservasInfos {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.reservasInfos label {
    color: #ffffff;
    width: 40%;
    height: 15%;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: end;
    align-content: center;
}

.reservasInfos span {
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 60%;
    height: 15%;
    text-align: justify;
    align-content: center;
}

.infosPonto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
}

.infosAddPontos {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 75% 25%;
}

.beneficios {
    display: grid;
    grid-template-rows: 20% 80%;
    height: 100%;
    overflow-y: auto;
}

.comodidades, .comodidadesLista {
    width: 100%;
    height: 100%;
}

.comodidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.comodidades i {
    width: 15%;
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 2rem;
    color: var(--colorSecond);
}

.comodidadesLista ul {
    list-style: none;
    margin: 10px 0 0 10px;
    padding: 0;
}

#modal-stars {
    color: var(--colorThird);
    margin-bottom: 1rem;
}

.btnReservarPonto {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.btnReservarPonto a {
    width: 50%;
    height: 55%;
    font-size: 1rem;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    background: var(--colorSecond);
    text-align: center;
    align-content: center;
    border-radius: 1rem;
    border: 2px solid #000000;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-background {
    height: 200px;
    background-size: cover;
    background-position: center;
}

body {
    position: absolute;
    background-color: var(--colorStandart);
    margin: 0;
    padding: 0;
    width: 99vw;
    height: 99vh;
    font-family: var(--fontBodyText);
}

legend {
    font-family: var(--fontTitles);
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
}

.navTopMenu {
    position: relative;
    top: 0.2rem;
    left: 0.2rem;
    width: 95%;
    height: 5rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: grid;
    grid-template: "logo navbar" 100% / 15% 2fr;
    font-weight: bold;
    background: var(--colorThird);
    box-shadow: 4px 4px 6px 4px var(--colorSecond);
    z-index: 9;
}

.topMenu {
    grid-area: navbar;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.topMenu li {
    width: 20%;
    height: 90%;
    align-content: center;
    text-align: center;
    list-style: none;
    color: #ffffff;
    border-radius: 1rem;
}

.liHover:hover, .liHover a:hover,
.searchDivHover:hover {
    background: var(--colorStandart);
    color: #000000;
    border-radius: 1rem;
}

.liHover:active, .liHover a:active { background: var(--colorShadow); }

.logo {
    grid-area: logo;
    display: flex;
    height: 100%;
    width: 100%;
}

.logo a {
    height: 100%;
    width: 50%;
    align-content: center;
    text-align: center;
}

.logo img {
    height: 90%;
    border-radius: 4rem;
}

.currencyLanguage {
    height: 100%;
    align-content: center;
    text-align: center;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.language, .currency {
    width: 50%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.currency { justify-content: center; }

.language img, .currency img { height: 40%; }

.modalCurrency, .modalNewPonto {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-currency-content, .modal-newPonto-content,
.modal-reservas-content {
    position: relative;
    background-color: var(--colorBackGround);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 1rem;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close, .closeModalPonto, .closeModalReservas {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.closeModalPonto:hover,
.closeModalPonto:focus,
.closeModalReservas:hover,
.closeModalReservas:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-currency-header, .modal-newPonto-header,
.modal-reservas-header {
    padding: 2px 16px;
    background-color: var(--colorThird);
    color: white;
    border-radius: 1rem 1rem 0 0;
}

.modal-currency-body, .modal-newPonto-body,
.modal-reservas-body {
    padding: 2px 16px;
    height: 10rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    background: var(--colorStandart);
}

.modal-newPonto-body {
    display: flex;
    height: 40rem;
}

.modal-currency-footer, .modal-newPonto-footer,
.modal-reservas-footer {
    padding: 2px 16px;
    background-color: var(--colorThird);
    color: white;
    border-radius: 0 0 1rem 1rem;
}

.lang, .coin {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
}

.lang label, .coin label {
    width: 90%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    align-content: center;
    text-align: center;
}

.coin select, .lang select { 
    color: #000000;
    width: 95%;
    height: 75%;
}

.select {
    display: grid;
    grid-template-columns: 30%;
    justify-content: end;
    align-items: center;
}
.btnSelect {
    width: 70%;
    font-size: 1rem;
    font-weight: bold;
    height: 70%;
    background: var(--colorSecond);
    color: #000000;
    border-radius: 1rem;
}

.loginBtn {
    height: 100%;
    align-content: center;
    text-align: center;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.buttonIn {
    width: 70%;
    height: 3rem;
    background: var(--colorSecond);
    color: #ffffff;
    font-family: var(--fontBodyText);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
}
.buttonOut {
    width: 70%;
    height: 3rem;
    background: var(--colorSecond);
    color: #ffffff;
    font-family: var(--fontBodyText);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
}

.buttonOut a {
    width: 100%;
    height: 100%;
    color: #000000;
    text-decoration: none;
    align-content: center;
    border-radius: 1rem;
}

.loginBtn > a {
    width: 30%;
    height: 100%;
    align-content: center;
    text-decoration: none;
    color: #000000;
    border-radius: 3rem;
}

.buttonIn a {
    width: 100%;
    height: 50%;
    align-content: center;
    color: #000000;
    text-decoration: none;
}

.buttonIn a:nth-child(1) { border-radius: 1rem 1rem 0 0;}
.buttonIn a:nth-child(2) { border-radius: 0 0 1rem 1rem;}


.loginBtn button:hover, #searchFormSubmit input:hover,
.btnSelect:hover, .loginBtn a:hover,
.btnAtt:hover, .verMais:hover,
.form-btn > button:hover, .btnReservarPonto a:hover,
.dados form > button:hover, .fotoSubmit:hover {
    background: var(--colorStandart);
    color: #ffffff;
}

.loginBtn button:active, #searchFormSubmit input:active,
.btnSelect:active, .loginBtn a:active,
.form-btn > button:active, .btnAtt:active, 
.verMais:active, .btnReservarPonto a:active,
.dados form > button:active, .fotoSubmit:active { background: var(--colorShadow); }

.liHome {
    display: flex;
    align-items: center;
    justify-content: center;
}

.liHome a {
    text-decoration: none;
    color: #ffffff;
    width: 30%;
    height: 100%;
    background-image: url(/imgs/icons/homeIcon.webp);
    background-size: 5rem;
    background-repeat: no-repeat;
    background-position: right;
    align-content: center;
}

.liHome a > img { width: 15%; }

.liHome a > span {
    color: var(--colorSecond);
    font-weight: bolder;
    -webkit-text-stroke: var(--colorSecond);
    -webkit-text-stroke-width: 1px;
    text-shadow: 4px 2px 5px black;
}

#homeIconImage {
    width: 3%;
    position: absolute;
    right: 185px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.liHome:hover #homeIconImage {
    animation: bounce 0.7s infinite;
}

.headerBody {
    position: relative;
    width: 99%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchSection {
    margin-top: 1rem;
    width: 60%;
    height: 10rem;
    background: var(--colorStandart);
    border-radius: 1rem;
}

.searchSectionTitles {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.searchSectionTitles h1 {
    width: 100%;
    align-content: center;
    margin: 0;
}

.searchSectionTitles h2 {
    font-style: italic;
    width: 50%;
    margin: 0;
}

.searchSectionOptions {
    width: 100%;
    height: 50%;
}

.searchForm {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.searchForm div {
    width: 25%;
    height: 100%;
}

.searchForm input, .searchForm select {
    border-radius: 1rem;
    border: none;
}

.destiny {
    display: grid;
    grid-template:
        "lupa destinyLabel destinyLabel" 40%
        "lupa destinyInput destinyInput" 45%
        / 20% 1fr 1fr
    ;
    justify-items: start;
    align-content: center;
    align-items: center;
    border-right: dashed 1px;
    margin-right: 5px;
}

.destiny img {
    grid-area: lupa;
    width: 90%;
}

.destiny label {
    grid-area: destinyLabel;
    width: 100%;
    height: 100%;
    text-align: start;
    align-content: end;
    font-weight: bold;
}

#destinyChoice {
    grid-area: destinyInput;
    height: 1.5rem;
    width: 95%;
}

.dates {
    display: grid;
    grid-template:
        "dateLabelIn" 40%
        "dateInputIn" 45%
        / 1fr
    ;
    border-right: dashed 1px;
    margin-right: 5px;
    align-items: center;
    align-content: center;
    justify-items: start;
}

.dates label {
    width: 100%;
    height: 100%;
    align-content: end;
    text-align: start;
    font-weight: bold;
}

.dates input {
    width: 95%;
    height: 1.5rem;
}

#dateLabelIn { grid-area: dateLabelIn;}

#dateIn { grid-area: dateInputIn;}

#dateLabelOut { grid-area: dateLabelOut;}

#dateOut { grid-area: dateInputOut;}

.people {
    display: grid;
    grid-template:
        "peopleLabel" 40%
        "peopleSelect" 45%
        / 1fr
    ;
    margin-right: 5px;
    align-items: center;
    align-content: center;
    justify-items: start;
}

#turists {
    grid-area: peopleSelect;
    width: 95%;
    height: 1.5rem;
}

#peopleLabel {
    grid-area: peopleLabel;
    width: 95%;
    height: 100%;
    align-content: end;
    text-align: start;
    font-weight: bold;
}

#searchFormSubmit {
    width: 10%;
    height: 100%;
    display: grid;
    grid-template:
        "." 40%
        "searchFormSubmit" 45%
        / 1fr
    ;
    align-content: center;
    justify-items: center;
    align-items: center;
}

#searchFormSubmit input {
    grid-area: searchFormSubmit;
    height: 95%;
    width: 95%;
    background: var(--colorSecond);
    color: #000000;
    font-weight: bold;
    border-radius: 1rem;
    border: solid 2px #000000;
}

.indexBody {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.indexBody section {
    width: 80%;
    margin-bottom: 3rem;
    border-radius: 1rem;
    background: var(--colorStandart);
    box-shadow: 4px 4px 0px 10px var(--colorShadow);
}

.quickSearch {
    height: 35rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.quickSearch h1, .bestRewiews h1 {
    width: 100%;
    font-family: var(--fontTitles);
    font-size: 3.5rem;
    color: #ffffff;
    margin: 0;
    text-align: center;
    align-content: center;
}

.quickSearch a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
    font-size: 1rem;
    text-align: center;
}

.quickSearch img { width: 40%;}

.bestRewiews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30rem;
    padding: 50px 0px;
    overflow: hidden;
}

.swiper-container {
    position: relative;
    width: 70%;
    height: 100%;
    left: 10px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}
  
.card {
    display: block;
    width: 100%;
    height: 100%;
    color: var(--colorStandart);
}
  
.card:before{
    content: '';
    display: block;
    width: 100%;
}
  
.background{
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 
        filter 200ms linear,
        transform 200ms linear;
}
  
.card:hover .background{
    transform: scale(1.05);
    filter: none;
}
  
.card-grid:hover > .card:not(:hover) .background{ filter: brightness(0.6) saturate(1) contrast(1.2)   blur(5px); }
  
.card-grid:hover > .card:not(:hover) .content{ filter: brightness(0.8) blur(2px); }
  
.content{
    padding: 24px;
    position: absolute;
    top: 0;
}
  
.category{
    font-family: var(--fontTitles);
    color: var(--colorSecond);
    text-shadow: 4px 1px 5px black;
    font-size: 1.4rem;
    margin: 0;
    text-transform: uppercase;
}
  
.heading{
    font-family: var(--fontTitles);
    color: var(--colorSecond);
    margin: 0;
    font-size: 1.8rem;
    text-shadow: 4px 1px 5px black;
}

.comodidade {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.comodidade i {
    margin: 10px 10px 0 0;
    font-size: 2rem;
    color: var(--colorSecond);
}

.cidadesBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--colorStandart);
    border-radius: 1rem;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.cidadesBody h1 {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: var(--fontTitles);
    font-size: 4rem;
    margin: 0 0 1rem 0;
}

.buscaPrincipal {
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.cardProfileSettings h2 {
    width: 100%;
}

.buscaPrincipal h1 {
    color: #ffffff;
    font-family: var(--fontTitles);
    font-size: 3rem;
    width: 100%;
    height: 5%;
    margin: 0;
    text-align: center;
}

.buscaPrincipal img {
    width: 40%
}

.cidadesTable {
    width: 90%;
    text-align: center;
    color: #ffffff;
    box-shadow: 0px 0px 0px 10px var(--colorShadow);
}

.cidadesTable select {
    background: none;
    color: #ffffff;
    border: none;
    font-size: 1.2rem;
    text-align: center;
}

.cidadesTable tr { height: 2.5rem;}
.cidadesTable tr:nth-child(odd) { background: var(--colorShadow); }
.cidadesTable tr:hover { background: var(--colorSecond); }

#cidadesTableHead {
    background: var(--colorThird);
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.pontosTable {
    width: 90%;
    text-align: center;
    color: #ffffff;
    box-shadow: 0px 0px 0px 10px var(--colorShadow);
}

.pontosTable img {
    width: 10rem;
    border-radius: 1rem;
}

.pontosTable tr { height: 3rem;}
.pontosTable tr:nth-child(odd) { background: var(--colorShadow); }
.pontosTable tr:hover { background: var(--colorSecond); }

.horariosFunc {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.horariosFunc span {
    width: 100%;
    text-align: end;
}

footer {
    position: relative;
    height: 7rem;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    align-content: center;
    left: 0.2rem;
    width: 95%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background: var(--colorThird);
    box-shadow: 4px 4px 6px 4px var(--colorSecond);
    z-index: 9;
}

.demo_3 {
    width: 90%;
    height: 68%;
    padding: 0em 4em 4em;
    text-align: center;
}

.related p { font-size: 1.5em;}

.related > a {
    background: rgba(0,0,0,0.05);
    display: inline-block;
    text-align: center;
    margin: 20px 10px;
    padding: 25px;
    -webkit-transition: color 0.3s, background-color 0.3s;
	-ms-transition: color 0.3s, background-color 0.3s;
	transition: color 0.3s, background-color 0.3s;
}
.related a:hover { background-color: rgba(0, 0, 0, 0.4);}

.related a img {
    max-width: 100%;
    opacity: 0.8;
    -webkit-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.related a:hover img, .related a:active img { opacity: 1; }

.related a h3 {
    margin: 0;
    padding: 0.5em 0 0.3em;
    max-width: 300px;
    text-align: left;
}

.demo_3 h1 {
    color: #ffffff;
    font-size: 3rem;
    font-family: (--fontTitles);
    font-weight: bolder;
}

.box {
    width: 300px;
    height: 460px;
    position: relative;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    color: #2c3e50;
    box-shadow: inset 0px -8px 13px 13px var(--colorShadow);
	-webkit-transition: background 0.4s 0.5s;
	-ms-transition: background 0.4s 0.5s;
	transition: background 0.4s 0.5s;
	margin-bottom:10px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    text-align: center;
}

.box.expanded { width: 55%;}

.box.hidden { display: none;}

.specific-form {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--colorBackGround);
    padding: 20px;
    box-sizing: border-box;
    border: solid 1px var(--colorShadow);
}
.box.expanded .specific-form {
    display: grid;
    align-items: center;
    justify-items: center;
}

.citys {
    grid-template:
        "A1 A1 A1 B1 C1 C1" 7%
        "A2 A2 A2 B2 C2 C2" 9%
        "A3 A3 A3 A3 B3 B3" 7%
        "A4 A4 A4 A4 B4 B4" 9%
        "A5 A5 A5 A5 A5 A5" 48%
        "A6 A6 B6 B6 C6 C6" 7%
        "A7 A7 B7 B7 C7 C7" 9%
        ". B8 B8 B8 B8 ." 8%
        / 1fr 1fr 1fr 10% 1fr 1fr
    ;
}

.citys label, .guides label, .turists label{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    width: 90%;
    height: 94%;
    height: 100%;
    text-align: center;
    align-content: end;
}

.citys input, .guides input, .guides select,
.turists input, .turists select {
    font-size: 1rem;
    height: 1.5rem;
    width: 95%;
    border: none;
    text-align: center;
}

.lb1 { grid-area: A1;}
.inpt1 { grid-area: A2;}

.lb2 { grid-area: B1;}
.inpt2 { grid-area: B2;}

.lb3 { grid-area: C1;}
.inpt3 { grid-area: C2;}

.lb4 { grid-area: A3;}
.inpt4 { grid-area: A4;}

.lb5 { grid-area: B3;}
.inpt5 { grid-area: B4;}

.field1 {
    height: 90%;
    width: 100%;
    grid-area: A5;
    display: grid;
    grid-template:
        "fa1 fa1 fa1 fa1 fa1 fb1" 20%
        "fa2 fa2 fa2 fa2 fa2 fb2" 25%
        "fa3 fa3 fa3 fa3 fb3 fb3" 20%
        "fa4 fa4 fa4 fa4 fb4 fb4" 25% / 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.lb6 { grid-area: fa1;}
.inpt6 { grid-area: fa2;}

.lb7 { grid-area: fb1;}
.inpt7 { grid-area: fb2;}

.lb8 { grid-area: fa3;}
.inpt8 { grid-area: fa4;}

.lb9 { grid-area: fb3;}
.inpt9 { grid-area: fb4;}

.lb10 { grid-area: A6;}
.inpt10 { grid-area: A7;}

.lb11 { grid-area: B6;}
.inpt11 { grid-area: B7;}

.lb12 { grid-area: C6;}
.inpt12 { grid-area: C7;}

.btnCadastro {
    grid-area: B8;
    width: 40%;
    height: 80%;
    border-radius: 0.5rem;
    background: var(--colorSecond);
    font-weight: bold;
}

.btnCadastro:hover{
    background: var(--colorStandart);
    color: #ffffff;
}
.btnCadastro:active{
    background: var(--colorShadow);
    color: #ffffff;
}

.guides {
    grid-template:
        "A1 A1 B1" 10%
        "A2 A2 B2" 10%
        "A3 A3 B3" 10%
        "A3 A3 B4" 10%
        "A5 B5 C5" 10%
        "A6 B6 C6" 10%
        "B7 B7 B7" 10%
        /1fr 1fr 1fr
    ;
}

.gLb1 { grid-area: A1;}
.gInpt1 { grid-area: A2;}

.gLb2 { grid-area: B1;}
.gInpt2 { grid-area: B2;}

.motorista {
    width: 100%;
    height: 100%;
    grid-area: A3;
    display: grid;
    grid-template:
        "ma1 ma1" 35%
        "ma2 mb2" 30%
        "ma3 mb3" 35% 
        / 20% 20%
    ;
    align-items: center;
    justify-items: center;
    justify-content: center;

}
.gLb3 { grid-area: ma1;}

.mLb1 { grid-area: ma2;}
.mLb2 { grid-area: mb2;}

.gInpt3 { grid-area: ma3;}

.gInpt4 { grid-area: mb3;}
.gLb4 { grid-area: B3;}

.gInpt5 { grid-area: B4;}
.gLb5 { grid-area: A5;}

.gInpt6 { grid-area: A6;}
.gLb6 { grid-area: B5;}

.gInpt7 { grid-area: B6;}
.gLb7 { grid-area: C5;}

.gInpt8 { grid-area: C6;}

.btnGuide { grid-area: B7;}

.turists {
    grid-template:
        "A1 B1 C1" 8%
        "A2 B2 C2" 10%
        "A3 A3 A3" 20%
        "A3 A3 A3" 20%
        ". B5 ." 8%
        ". B6 ." 10%
        "A7 B7 C7" 8%
        "A8 B8 C8" 10%
        "A9 A9 A9" 10%
        /1fr 1fr 1fr
    ;
}

.tLb1 { grid-area: A1;}
.tInpt1 { grid-area: A2;}

.tLb2 { grid-area: B1;}
.tInpt2 { grid-area: B2;}

.tLb3 { grid-area: C1;}
.tInpt3 { grid-area: C2;}

.field2  {
    width: 95%;
    height: 85%;
    grid-area: A3;
    display: grid;
    grid-template:
        "f2a1 f2a1 f2a1 f2b1 f2b1" 15%
        "f2a2 f2a2 f2a2 f2b2 f2b2" 20%
        "f2a3 f2c3 f2c3 f2d3 f2b3" 15%
        "f2a4 f2c4 f2c4 f2d4 f2b4" 20%
        / 1fr 1fr 1fr 1fr 1fr
    ;
    align-items: center;
    justify-items: center;
    align-content: space-evenly;
}
.tLb4 { grid-area: f2a1;}
.tInpt4 { grid-area: f2a2;}

.tLb5 { grid-area: f2b1;}
.tInpt5 { grid-area: f2b2;}

.tLb6 { grid-area: f2a3;}
.tInpt6 { grid-area: f2a4;}

.tLb7 { grid-area: f2b3;}
.tInpt7 { grid-area: f2b4;}

.tLb12 { grid-area: f2c3;}
.tInpt12 { grid-area: f2c4;}

.tLb13 { grid-area: f2d3;}
.tInpt13 { grid-area: f2d4;}

.tLb8 { grid-area: B5;}
.tInpt8 { grid-area: B6;}

.tLb9 { grid-area: A7;}
.tInpt9 { grid-area: A8;}

.tLb10 { grid-area: B7;}
.tInpt10 { grid-area: B8;}

.tLb11 { grid-area: C7;}
.tInpt11 { grid-area: C8;}

.turistBtn { grid-area: A9;}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    color: var(--colorSecond);
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
}
.close-btn:hover { color: var(--colorStandart);}
.close-btn:active { color: var(--colorShadow);}

.box:hover {
    background: rgba(255,255,255,0);
	-webkit-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
}

.box img { width: 100%; }

.box span {
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 25px;
    padding: 5px 10px;
    text-transform: uppercase;
}

.box h3,
.box span {
    -webkit-transition: color 0.4s 0.5s;
	-ms-transition: color 0.4s 0.5s;
	transition: color 0.4s 0.5s;
}

.box:hover h3,
.box:hover span {
	color: #fff;
	-webkit-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
}

.box svg {
    position: absolute;
    top: 0;
    left: 0;
}

.box svg line {
    stroke-width: 3;
    stroke: var(--colorShadow);
    fill: none;
    -webkit-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}

.box:hover svg line {
	-webkit-transition-delay: 0.1s;
	-ms-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.box svg line.top, .box svg line.bottom { stroke-dasharray: 330 240; }

.box svg line.left, .box svg line.right { stroke-dasharray: 490 400; }

.box:hover svg line.top {
	-webkit-transform: translateX(-600px);
	-ms-transform: translateX(-600px);
	transform: translateX(-600px);
}

.box:hover svg line.bottom {
	-webkit-transform: translateX(600px);
	-ms-transform: translateX(600px);
	transform: translateX(600px);
}

.box:hover svg line.left {
	-webkit-transform: translateY(920px);
	-ms-transform: translateY(920px);
	transform: translateY(920px);
}

.box:hover svg line.right {
	-webkit-transform: translateY(-920px);
	-ms-transform: translateY(-920px);
	transform: translateY(-920px);
}

.demo_3 .box {
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
    box-shadow: none;
    -webkit-transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}

.demo_3 .box:hover, .quickSearch .box:hover { background: var(--colorShadow); }

.demo_3 .box h3, .demo_3 .box span,
.quickSearch .box h3, .quickSearch .box span {
	-webkit-transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}
.demo_3 .box:hover h3, .demo_3 .box:hover span,
.quickSearch .box:hover h3, .quickSearch .box:hover span {
	-webkit-transform: scale(.8);
	-ms-transform: scale(.8);
		transform:scale(.8);
}
.demo_3 .box svg line,
.quickSearch .box svg line {
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}

.demo_3 .box:hover svg line,
.quickSearch .box:hover svg line {
	stroke-width: 10;
	-webkit-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
}

.demo_3 .box:hover svg line.top,
.quickSearch .box:hover svg line.top {
	-webkit-transform: translateX(-300px);
	-ms-transform: translateX(-300px);
	transform: translateX(-300px);
}

.demo_3 .box:hover svg line.bottom,
.quickSearch .box:hover svg line.bottom {
	-webkit-transform: translateX(300px);
	-ms-transform: translateX(300px);
	transform: translateX(300px);
}

.demo_3 .box:hover svg line.left,
.quickSearch .box:hover svg line.left {
	-webkit-transform: translateY(460px);
	-ms-transform: translateY(460px);
	transform: translateY(460px);
}

.demo_3 .box:hover svg line.right,
.quickSearch .box:hover svg line.right {
	-webkit-transform: translateY(-460px);
	transform: translateY(-460px);
}

.login-form {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.containerLoginForm {
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardLoginForm {
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--colorThird);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.form-img {
    width: 100%;
    align-content: center;
    text-align: center;
}
.form-img img {
    width: 40%;
    border-radius: 4rem;
}
  
.cardLoginForm h2 {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: var(--fontTitles);
    font-size: 2.5rem;
    margin: 0.4rem;
}

.userPatch {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}
  
.cardLoginForm form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.cardLoginForm input {
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #555;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color: #000000;
}
  
.cardLoginForm input:focus { border-color: #3498db; }
  
.cardLoginForm button {
    background-color: var(--colorSecond);
    color: #000000;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
  
.cardLoginForm button:hover {
    background-color: var(--colorStandart);
    color: #ffffff;
}

.cardLoginForm span {
    width: 100%;
    margin: 1rem 0 0 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    color: #ffffff;
    text-align: center;
}

.cardLoginForm a { color: var(--colorSecond);}
.cardLoginForm a:hover { color: var(--colorStandart);}
.cardLoginForm a:active { color: var(--colorShadow);}

.sidenav {
    background-color: var(--colorThird);
    color: #ffffff;
    height: 100%;
    left: 3px;
    overflow-x: hidden;
    position: absolute;
    width: 15%;
    display: flex;
    z-index: 10;
    flex-direction: row;
    flex-wrap: wrap;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.profile {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    align-content: center;
}

.profile img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px grey;
}

.name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.job {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.sidenav-url { width: 100%; }

.url, hr { text-align: center; }

.url hr {
    margin-left: 20%;
    width: 60%;
}

.url a {
    color: #ffffff;
    display: block;
    font-size: 20px;
    margin: 10px 0;
    padding: 6px 8px;
    text-decoration: none;
}

.url a:hover, .url .active {
    background-color: var(--colorStandart);
    border-radius: 28px;
    color: #ffffff;
    margin-left: 14%;
    width: 65%;
    font-weight: bold;
    text-transform: uppercase;
}

.settingsContainer {
    position: relative;
    display: flex;
    left: 15%;
    width: 85%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.profileContainer {
    position: relative;
    width: 80%;
    height: 100%;
    top: 3%;
    left: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
}

.galerieContainer {
    position: relative;
    width: 80%;
    height: 100%;
    left: 15%;
    grid-template-rows: 10% 50% 1fr;
    justify-items: center;
    align-items: center;
    overflow-y: scroll;
}

.galerieContainer h1 { 
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    font-family: var(--fontTitles);
    font-size: 4rem;
    color: #ffffff;
    align-content: center;
}

.galeria {
    width: 99%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria fieldset {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.pics {
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 40% 1fr;
    margin: 0 10px 10px 0;
}

.pics:hover, .pics:nth-child(odd):hover { background: var(--colorSecond); }
.pics:nth-child(odd) { background: var(--colorShadow); }

.thumbnail {
    width: 100%;
    height: 100%;
}

.thumb {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
    text-align: center;
    align-content: center;
}

.thumb img {
    width: 30px;
    height: 30px;
}

.dados {
    display: grid;
    grid-template-rows: 1fr 30%;
    justify-items: center;
    align-items: center;
}

.dados form {
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
}

.dados form > button {
    height: 80%;
    width: 30%;
    background: var(--colorSecond);
    color: #000000;
    font-weight: bold;
    border-radius: 1rem;
    border: solid 2px #000000;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.dados > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
}

.dados div > span { width: 100%; }

.fotoSubmit {
    height: 2rem;
    width: 35%;
    background: var(--colorSecond);
    color: #000000;
    font-weight: bold;
    border-radius: 1rem;
    border: solid 2px #000000;
    text-transform: uppercase;
}

.profileContainer h2, .settingsContainer h2 {
    color: #ffffff;
    font-family: var(--fontTitles);
    font-size: 1.5rem;
    margin: 0;
}

.cardProfile {
    display: flex;
    width: 100%;
    height: 75%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.cardProfileBody-Personal {
    width: 45%;
    height: 95%;
    background: var(--colorStandart);
    border-radius: 1rem;
    box-shadow: 0px 0px 0px 7px var(--colorShadow);
}

.cardProfileSettings {
    position: relative;
    left: 25px;
    position: relative;
    left: 25px;
    width: 35%;
    height: 20%;
    display: grid;
    grid-template-rows: 40% 60%;
    align-items: center;
    border-radius: 1rem;
    background: var(--colorThird);
    box-shadow: 0px 0px 0px 7px var(--colorShadow);
}

.Settings {
    width: 100%;
    text-align: center;
}

.cardProfileTitle {
    width: 95%;
    height: 5%;
    padding: 10px 0px 10px 10px;
    display: inline-flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.cardSocialTitle { padding-left: 10px;}

.cardProfileTitle h2 { width: 44%;}

.cardProfileTitle i {
    font-size: 1.5rem;
    color: #ffffff;
}
.cardProfileTitle i:hover { color: var(--colorStandart); }
.cardProfileTitle i:active { color: var(--colorShadow); }

.cardHistory {
    width: 100%;
    height: 90%;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.newPonto {
    width: 95%;
    height: 10%;
    align-content: center;
    text-align: center;
}

.cardPontosCadastrados {
    width: 95%;
    height: 30%;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background: var(--colorFourth);
    display: grid;
    grid-template: 
        "imgDisplay imgDisplay bodyDisplay bodyDisplay bodyDisplay" 40%
        "imgDisplay imgDisplay bodyDisplay bodyDisplay bodyDisplay" 40%
        "imgDisplay imgDisplay . . verMais" 20%
        / 10% 10% 1fr 1fr 1fr
    ;
}

.imgPontosList {
    grid-area: imgDisplay;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
}

.imgPontosList img { width: 100%; }

.descPontosList {
    grid-area: bodyDisplay;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff
}

.descPontosList textarea {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    background: no-repeat;
    border: none;
    width: 95%;
    height: 60%;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
}

.descPontosList select {
    font-size: 1.3rem;
    font-weight: bold;
    background: no-repeat;
    border: none;
    width: 95%;
    text-align: center;
}

.verMais {
    grid-area: verMais;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
}

.formcardVerMais {
    height: auto;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.blocoVerMais {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.verMaisFieldSetAdicionais {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.verMaisFieldSetAdicionais label {
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.verMaisFieldSetHora {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.diasDeFuncionamento {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    align-items: center;
}

.diasDeFuncionamentoField {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;    
}

.diasDeFuncionamentoField label {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

.btnAttPontos {
    width: 100%;
    height: auto;
    align-content: center;
    text-align: center;
}

.btnAtualizar {
    width: 25%;
    background-color: var(--colorSecond);
    color: #000000;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btnDeletar {
    width: 25%;
    background-color: var(--colorShadow);
    color: #000000;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btnCadastroNew {
    width: 25%;
    height: 70%;
    border-radius: 0.5rem;
    background: var(--colorSecond);
    font-weight: bold;
}

.cardProfileBody-Infos {
    width: 50%;
    height: 95%;
    overflow: auto;
    border-radius: 1rem;
    background: var(--colorThird);
    box-shadow: 0px 0px 0px 7px var(--colorShadow);
}

.cardProfileBody-Inputs {
    width: 100%;
    height: 95%;
    overflow: auto;
}

.cardProfileTuristas {
    width: 100%;
    height: 100%;
}

.cardProfileTuristas form {
    width: 100%;
    height: 95%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
}

.cardProfileTuristas form > fieldset {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    justify-content: start;
    margin-bottom: 10px;
    align-items: center;
}

.cardProfileTuristas form fieldset > label {
    width: 100%;
    height: 2rem;
    text-align: end;
    align-content: center;
}

.cardProfileTuristas form fieldset > input {
    height: 2rem;
    width: 95%;
}

.submitEdit {
    width: 100%;
    text-align: center;
}

.btnAtt {
    width: 25%;
    background-color: var(--colorSecond);
    color: #000000;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.pontosCadastrados { color: #ffffff; }

.formNewPonto {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.formNewPonto label {
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
}

.formBloco1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    align-items: center;
}

.formBloco2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.formBloco2 label {
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    width: 55%;
    height: 50%;
}

.formBloco2 input { width: 55%; }

.fieldNewPonto {
    width: 95%;
    height: 40%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    align-items: center;
    justify-items: start;
    align-content: center;
}

.cardSocialMedia {
    width: 90%;
    height: 15%;
    top: 5%;
    left: 5%;
    border-radius: 1rem;
    position: relative;
    background: var(--colorThird);
}

.social-media {
    width: 20%;
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


/*PAGE RESERVAS*/

.section {
	position: relative;
	height: 80%;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.booking-form {
    position: relative;
    max-width: 642px;
    width: 100%;
    margin: auto;
    background: var(--colorThird);
    border-radius: 1rem;
    box-shadow: 4px 4px 6px 4px var(--colorSecond);
}

.booking-form>.booking-bg {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 250px;
	background-size: cover;
	background-position: center;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: -108px 0px 154px -41px rgba(0,0,0,0.8) inset;
    -webkit-box-shadow: -108px 0px 154px -41px rgba(0,0,0,0.8) inset;
    -moz-box-shadow: -108px 0px 154px -41px rgba(0,0,0,0.8) inset;
}

.booking-form>form {
	margin-left: 250px;
    padding: 30px;
    border-left: 0px;
}

.booking-form .form-header { margin-bottom: 30px; }

.booking-form .form-header h2 {
    margin: 0;
    margin-bottom: 0px;
    font-weight: bold;
    color: #ffffff;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: var(--fontTitles);
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.booking-form .form-group {
	position: relative;
    width: 100%;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: #ffffff;
    width: 85%;
	height: 40px;
	padding: 0px 10px;
	border-radius: 0px;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	color: #000000;
	border: 0px;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
	box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
}

.booking-form .form-control::-webkit-input-placeholder { color: #dde3e8; }
.booking-form .form-control:-ms-input-placeholder { color: #dde3e8; }
.booking-form .form-control::placeholder { color: #dde3e8; }

.booking-form .form-control:focus {
	-webkit-box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
	box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
}

.booking-form input[type="date"].form-control:invalid { color: #dde3e8; }

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 4px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #dddee9;
	font-size: 14px;
}

.booking-form .form-label {
    color: #ffffff;
    font-weight: bold;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    text-transform: uppercase;
    line-height: 24px;
    height: 24px;
    font-size: 1rem;
    z-index: 1;
}

.booking-form .form-btn { margin-top: 10px; }

.booking-form .submit-btn {
	color: #000000;
    background-color: var(--colorSecond);
    text-transform: uppercase;
    font-weight: bold;
    padding: 13px 35px;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    width: 100%;
}

@media only screen and (max-width: 480px) {
	.booking-form>.booking-bg {
		display: none;
	}
	.booking-form>form {
		margin-left: 0px;
	}
}
/*PAGE RESERVAS*/